#bt_login{
    width: 115px;
    color: white;
    font-weight: bold;
    background-color: rgb(235, 77, 0);
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;
}
#bt_register{
    width: 115px;
    background-color: rgb(124, 146, 170);
    color: white;
    font-weight: bold;
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;
}
#bt_login a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#bt_register a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#login{
    padding-left: 31%;
    padding-right: 31%;
    padding-top: 3%;
    padding-bottom: 2%;
}
.form_login{
    clear: both;
    background-color: rgb(226, 226, 226);
    border: solid 1px rgb(209, 209, 209);
    padding: 3% 5%;
    border-radius: 5px;
}
.email_login{
    margin-right: 10%;
}
.email_login p{
    margin-bottom: -0.05%;
    font-size: 15px;
}
.email_login input{
    width: 120%;
    height: 35px;
    border:solid 2px rgb(209, 209, 209);
    border-radius: 5px;
    font-size:90%;
}
.matkhau_login{
    margin-right: 10%;
}
.matkhau_login p{
    margin-bottom: -0.05%;
    font-size: 15px;
}
.matkhau_login input{
    width: 120%;
    height: 35px;
    border:solid 2px rgb(209, 209, 209);
    border-radius: 5px;
    font-size: 90%;
}
.email_login input:hover{     
    border:solid 2px rgb(13, 132, 179);
}

.matkhau_login input:hover{     
    border:solid 2px rgb(13, 132, 179);
}

#submit_login{
    margin-top: 3%;
}

#submit_login input{
    text-align: center;
    background-color: rgb(124, 146, 170);
    width: 95px;
    background-color: rgb(124, 146, 170);
    color: white;
    font-weight: 700;
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}
#submit_login input:hover{
    background-color: rgb(235, 77, 0);
}
.move_lookpass{
    margin-top: 3%;
}
.move_lookpass a{
    text-decoration: none;
    font-size: 15px;
}
.move_lookpass a:hover{
    font-size: 15px;
    color: red;
}